.parking-side {
  width: 250px;
  height: 90%;
  align-items: center;
  justify-content: flex-end;
  /* position: relative; */
  /* border: var(--BORDER-LIGHT); */
  gap: 20px;
}

.parking-side .entrance-n-exit {
  /* bottom: -150px;
  position: absolute; */
  width: var(--PARKINGLOT-WIDTH);
  height: 75px;
  align-items: center;
  justify-content: center;
  border: var(--BORDER-LIGHT);
}

.parking-side .parking-space-list {
  gap: 25px;
}
