.car {
  width: 150px;
  height: 130px;
  align-items: center;
  justify-content: center;
  border: var(--BORDER-LIGHT);
  background-color: white;
  gap: 10px;
}
.car .title {
  font-weight: bold;
}
.car .subtitle {
}

.car .action {
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.action .fields {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.fields input {
  width: 25%;
}
.fields input {
  width: 30%;
  height: 25px;
  padding-left: 5px;
  border: var(--BORDER-LIGHT);
  background-color: rgb(244, 243, 243);
}
.fields input:focus {
  outline: none;
}

.car button {
  width: 70%;
  height: 25px;
  font-size: 12px;
  border: var(--BORDER-LIGHT);
  background-color: white;
}
.car button:hover {
  cursor: pointer;
}
.car button:active {
  opacity: 0.6;
}

.car .time-consume {
  font-size: 12px;
}
